@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  background: url(./bg.png);
  background-repeat: repeat-x;
  height: 100vh;
  background-size: cover;
  animation: animate 15s linear infinite;
}

.kuy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobil {
  position: absolute;
  bottom: 0;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.tittle {
  font-size: 30px;
  font-weight: 600;
  color: rgb(8, 6, 133);
  letter-spacing: 1px;
  margin: 30px 0;
}

.todo-list {
  width: 450px;
  padding: 20px;
  box-shadow: 0 10px 50px rgb(160, 157, 157);
  border-radius: 5px;
  background-color: white;
}

.todo-head {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.entered-list {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 10px;
}

.add-list {
  border: none;
  border-radius: 5px;
  background-color: rgb(8, 6, 133);
  outline: none;
  font-size: 10px;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  pointer-events: none;
}

.add-list.active {
  opacity: 1;
  pointer-events: all;
}

.tasks {
  width: 100%;
  margin-top: 30px;
}

.item {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgb(180, 172, 172);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  font-size: 16px;
  font-weight: 400;
  color: #111;
  letter-spacing: 1px;
}

.item.completed p {
  text-decoration: line-through;
  color: #11111180;
}

.item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-btn i {
  color: rgb(8, 6, 133);
  font-size: 10px;
  cursor: pointer;
}
